[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[user]
	signingkey = {{ .signingkey }}
	name = {{ .name }}
	email = {{ .email }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	release = ! git checkout -b release/$(date +%Y%m%d) && git push -u origin HEAD && git checkout - && git branch -D @{-1}
[core]
	autocrlf = input
	editor = code --wait
[pull]
	rebase = true
[init]
	defaultBranch = master
