set -gx VISUAL "code --wait --new-window"
set -gx EDITOR "code --wait --new-window"
eval (/opt/homebrew/bin/brew shellenv)

# pnpm
set -gx PNPM_HOME "{{ .chezmoi.homeDir }}/Library/pnpm"

# Prepend asdf shims and pnpm to PATH
# Do not use fish_add_path because it won't reorder paths already in PATH,
# so these would remain behind /opt/homebrew/bin added by brew shellenv above.
if test -z $ASDF_DATA_DIR
    set -gx PATH "$PNPM_HOME" "$HOME/.asdf/shims" $PATH
else
    set -gx PATH "$PNPM_HOME" "$ASDF_DATA_DIR/shims" $PATH
end

# LM Studio CLI
fish_add_path --append "{{ .chezmoi.homeDir }}/.lmstudio/bin"

# JetBrains Toolbox
fish_add_path --append "$HOME/Library/Application Support/JetBrains/Toolbox/scripts"

# pipx
fish_add_path --append "{{ .chezmoi.homeDir }}/.local/bin"

source {{ .chezmoi.homeDir }}/.config/op/plugins.sh

if status is-interactive
    # Commands to run in interactive sessions can go here
end
