set -gx VISUAL "code --wait --new-window"
set -gx EDITOR "code --wait --new-window"
eval (/opt/homebrew/bin/brew shellenv)

# ASDF
if test -z $ASDF_DATA_DIR
    fish_add_path --prepend "$HOME/.asdf/shims"
else
    fish_add_path --prepend "$ASDF_DATA_DIR/shims"
end

# pnpm
set -gx PNPM_HOME "{{ .chezmoi.homeDir }}/Library/pnpm"
fish_add_path --prepend "$PNPM_HOME"

# LM Studio CLI
fish_add_path --append "{{ .chezmoi.homeDir }}/.lmstudio/bin"

# JetBrains Toolbox
fish_add_path --append "$HOME/Library/Application Support/JetBrains/Toolbox/scripts"

# pipx
fish_add_path --append "{{ .chezmoi.homeDir }}/.local/bin"

source {{ .chezmoi.homeDir }}/.config/op/plugins.sh

if status is-interactive
    # Commands to run in interactive sessions can go here
end
